#contact-form{
	margin: 10px 0;
}
#contact-form span{
	display: block;margin: 10px 0;
	width: 100%;
}
#contact-form span *{
	display: block;
}

#contact-form input[type="text"]{
	height: 35px;
}
#contact-form input[type="text"], #contact-form textarea{
	width: 100%;
	border: 0;
	border-bottom: 1px solid gray;
	margin:  0;
	font-family: century gothic;
}
#contact-form textarea{
	height: 100px;
}

#contact-form input[type="text"]:hover, #contact-form input[type="text"]:focus,
#contact-form textarea:hover, #contact-form textarea:focus
{
	border-color: black;
	color: var(--primary-color);
}

#contact-form #buttons-span{
	display: flex;
	justify-content: flex-end;
}
#contact-form input[type="submit"]{
	padding: 10px 20px;
}