@import "./_general.css";


/* Section dans le header affichant le nom de la mairie*/
#before-nav{
	height: 275px;
	background:var(--couleur-primaire);
}
/* Titre dans le header (nom de la mairie)  */
#before-nav h1{ 
	text-align: center;
}
#navbar{
	position: fixed;
	box-shadow:none;
}

#navbar #navbar-content{
	justify-content: center;
}

#navbar .nav-link{
	margin: 0px;
}


#navbar .nav-link:hover, #navbar .nav-link.active{
	color:white;
	box-shadow: 0 -50px 0 var(--couleur-primaire) inset;
}
aside h2{
	background: var(--couleur-primaire);
	padding: 5px;
	color: white;
}