@import "./_general.css";



#before-nav{
	background:var(--couleur-primaire);
}
#before-nav h1{
	margin-left: 50px;
}

#navbar{
	box-shadow: 0 4px 4px gray;
}

#navbar .nav-link:hover, #navbar .nav-link.active{
	color:white;
	box-shadow: 0 50px 0 var(--couleur-primaire) inset;
}

aside h2{
	background: var(--couleur-primaire);
	padding: 5px;
	box-shadow: none;
	color: white;
}
