@import "./_general.css";

#before-nav.accueil h1{
	font-size: 50px;
	text-align:left;
}
aside h2{
	box-shadow:5px 0 0 var(--couleur-primaire) inset;
}
aside>section:hover h2{
	box-shadow:375px 0 0 var(--couleur-primaire) inset;
	color:white;
}